<div class="comment-container">
    {{#each comments}}
        <div class="comment">
            <!-- Render each comment dynamically -->
            <div class="profile-container">
                <p class="profile-picture">
                {{#if this.author.profPicLink}}
                    <img src="{{this.author.profPicLink}}" class="profile-picture" />
                {{else}}
                    <img src="./public/images/defUser.png" class="profile-picture" />
                {{/if}}
                </p>

                <div class="user-info">
                    {{#if this.author.uname}}
                        <a class="user" href="/viewprofile/{{this.author._id}}">@{{this.author.uname}}</a>
                    {{else}}
                        <a class="user" href="/viewprofile/{{this.author._id}}">girlsUser</a>
                    {{/if}}
                </div>
            </div>

            <div class="editable">
                {{this.content}}
            </div>
            
            <button id="edit-button" data-post-id="{{this.post}}" data-comment-id="{{this._id}}">Edit</button>
            <button id="delete-button" data-post-id="{{this.post}}" data-comment-id="{{this._id}}">Delete</button>

            <div class="replyInput" contenteditable="true" placeholder="Reply to this comment"></div>
            <button id="reply-button" data-post-id="{{this.post}}" data-comment-id="{{this._id}}">Reply</button>
            <button id="collapse-button">Collapse</button>

            {{#if this.replies}}
                <div class="reply" >
                    {{> comment comments=this.replies}}
                </div>
            {{/if}}
        </div>
    {{/each}}
</div>


{{!-- 
<div class="comment">
{{#each comments}}
<div class = "single-cmt-card" id="{{this._id}}">
  <div class = "card-header">
   <div class="user_pic">
       <a href="/user?id={{this.author._id}}">
<img alt="user-pic" src="{{this.author.profPicLink}}" />
       </a>
</div>
    <div class = "user-name">
      <b>{{this.author.uname}}</b>
 </div>
  </div>
  <div class="card-body">
 {{this.content}}
</div>
<div class = "action-btns"> 

   <form  action="/comment/{{this._id}}/delete/{{post._id}}" method="post" >
  <button type="submit" class= "delete-btn"> Delete </button>
  </form>

</div>

 <div class = "reply-cmt">
  <form action="reply/comment/{{this.post}}/{{this._id}}" method="post">
      <textarea required class="reply-textarea" name="replyText" rows="3"  placeholder = 'Enter your reply'></textarea>
      <div class = "action-btns">
        <button type="submit"> Submit </button>
        <button type="button" class = "cancel-btn"> Cancel </button></div>
</form>
    </div>

</div>
 {{#if this.replies}}
<div class="reply" style="margin-left: 5px; border-left: solid 1px var(--primary-text-color);">
    {{> displayComment comments = this.replies}}
</div>
{{/if}} 
{{/each}}
</div> --}}