<div class="reply">
            <!-- Render each comment dynamically -->
            <div class="profile-container">
                <p class="profile-picture">
                {{#if aReply.author.profPicLink}}
                    <img src="{{aReply.author.profPicLink}}" class="profile-picture" />
                {{else}}
                    <img src="./public/images/defUser.png" class="profile-picture" />
                {{/if}}
                </p>

                <div class="user-info">
                    {{#if aReply.author.uname}}
                        <a class="user" href="/viewprofile/{{aReply.author._id}}">@{{aReply.author.uname}}</a>
                    {{else}}
                        <a class="user" href="/viewprofile/{{aReply.author._id}}">girlsUser</a>
                    {{/if}}
                </div>
            </div>

            <div class="editable">
                {{aReply.content}}
            </div>
            
            <button id="edit-button" data-post-id="{{post._id}}" data-comment-id="{{aReply._id}}">Edit</button>
            <button id="delete-button" data-post-id="{{post._id}}" data-comment-id="{{aReply._id}}">Delete</button>

            {{!-- <form action="/reply/comment/{{aReply.postId}}/{{aReply._id}}" method="post">
                <textarea
                    name="content"
                    class="replyInput"
                    placeholder="Reply to aReply comment"
                ></textarea>
                <button type="submit">Reply</button>
            </form> --}}
            <div class="replyInput" contenteditable="true" placeholder="Reply to aReply comment"></div>
        <button id="reply-button" data-post-id="{{post._id}}" data-comment-id="{{aReply._id}}">Reply</button>
            <button onclick="toggleCollapse(aReply)">Collapse</button>

            <!-- Render replies dynamically if applicable -->
            <div class="replies">
                {{#each replies}}
                    {{> reply aReply post = post}}
                {{/each}}
            </div>
        </div>